.Rproj.user
.Rhistory
.RData
.DS_Store
data/external/*
# don't commit these since they're just concatenated versions of the district/year files
data/pems_hour.Rdata
data/pems_period.Rdata
data/pems_hour.RDS
data/pems_period.RDS