.Rproj.user
.Rhistory
.RData
.DS_Store
data/external/*
# tableau workbook recovery file
*.twbr
# don't commit these since they're just concatenated versions of the district/year files
data/pems_hour.*
data/pems_hour_by_month.*
data/pems_period.*
data/pems_truck_hour.*
data/pems_truck_period.*